        <div>
            <label for "post-title">Title</label>
            <input type="text" id="post-title" name="post-title" value="{{title}}" />
        </div>
        <div>
            <label for="post-text">Content</label>
            <input id="post-text" name="post-text" value="{{post_text}}"/>
        </div>
        
