        <div>
            <label for "post-title" class="form-label">Title</label>
            <input type="text" id="post-title" name="post-title" value="{{title}}" class="form-input" />
        </div>
        <div>
            <label for="post-text" class="form-label">Content</label>
            <textarea id="post-text" name="post-text" class="form-textarea">{{post_text}}</textarea>
        </div>
        
