<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href = "/stylesheets/style.css">
</head>

<body> 
    <header>
        <nav class="flex-row">
            <a href="/" class="nav-el">Home</a>
            {{#if loggedIn}}
            <a href="/dashboard" class="nav-el">Dashboard</a>
            <button id="logout" class="nav-el">Logout</button>
            {{else}}
            <a href="/login" class="nav-el">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        Thanks for checking out Tech Blog!
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>