<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href = "/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="/" class="list-item">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="list-item">Dashboard</a>
                <button id="logout" class="list-item">Logout</button>
                {{else}}
                <a href="/login" class="list-item">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            Thanks for checking out Tech Blog!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>