<h1 class="app-title" >Your Dashboard</h1>

<section class="posts list-group">
    {{#each posts as |post|}}
    <article class="post">
    <div class="title">
        <a href="/dashboard/edit/{{id}}">
            <h2>{{title}}</h2>
        </a>
        <h3>{{format_date created_at}}</h3>
    </div>
    <div class="meta">
        <p>{{post_text}}</p>
    </div>
    </article>
    {{/each}}
</section>

<a href="/dashboard/new-post" class="btn">+ New Post</a>

