<h1 class="app-title" >Your Dashboard</h1>

<section class="posts list-group">
    {{#each posts as |post|}}
    <div> 
        {{> post-info post }}
    </div>
    {{/each}}
</section>

<a href="/dashboard/new-post" class="btn">+ New Post</a>

