<h1 class="app-title" >Your Dashboard</h1>
<section class="card">
    <h2 class="card-header">Edit Post</h2>
    <form class="edit-post-form card-body">
        {{> post-input post}}
        <button type="submit" class="btn create-btn" id="updat-btn">Update Post</button>
        <button type="btn" class="btn create-btn" id="delete-btn">Delete Post</button>
    </form>
</section>

<script src="/javascript/edit-post.js"></script>