<div class="title-wrapper">
    <h1 class="app-title">The Tech Blog</h1>
</div>


<section class="posts">
    {{#each posts as |post|}}
    <div> 
        {{> post-info post }}
    </div>
    {{/each}}
</section>

