<h1 class="app-title" >Your Dashboard</h1>
<section class="card">
    <h2 class="card-header">Create New Post</h2>
    <form class="new-post-form card-body">
        {{> post-input post}}
        <button type="submit" class="btn create-btn">Create</button>
    </form>
</section>

<script src="/javascript/new-post.js"></script>