<h1>The Tech Blog</h1>

<section class="post">
    <div> 
        {{> post-info post }}
    </div>
</section>

{{#if loggedIn}}
<div class="card">
    <h2 class="card-title">Leave a Comment</h2>
    <form class="comment-form card-content">
        <label for "comment-text">Comment:</label>
        <input type="text" id="post-title" name="comment-text" />
        <button type="submit" class="btn comment-btn">Post Comment</button>
    </form>
</div>
<script src="/javascript/new-comment.js"></script>
{{/if}}

{{#each post.comments as |comment|}}
<div class="card">
    <div class="card-title"></div>
    <div class="card-content">
        <p>{{comment_text}}</p>
        <p>- {{user.username}}, {{format_date created_at}}</p>
    </div>
</div>
{{/each}}